/* main#homepage {

} */
#homepage article, 
#homepage header {
    display: flex;
    flex-direction: column-reverse;
}
#homepage article > figure > img, 
#homepage header > figure > img {
    width: 100%;
}
#homepage article > section,
#homepage header > section {
    margin: 10px 24px;
}
#homepage > article:nth-child(even) {
    background: var(--background-color);
    color: var(--light-text);
}
#homepage article h2, #homepage article p {
    margin: 15px 0;
}